.header{
  margin-top: 0px;
  height: 250px;
  background-image: url(img/boton2.png);
  background-size: 188px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 15px;
}

.respon{
  width: 33%;
}

.divi{
  width: 250px;
}

.body {
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b3b3c9, #ffffff, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #003366, #777777, #003366); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .gameboard {
    width: 100%;
  }

  .color {
    width: 87px; 
    height: 87px; 
    border: 2px solid #000; 
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .left {
    float: left;
  }

  .right {
    float: left;
  }

  .rojo { 
    background: #b81200;
  }
  .rojo.light { 
    background: #ff6150;
  }
  .azul { 
    background: #003366;
  }
  .azul.light { 
    background: #3498DB;
  }
  .verde { 
    background:  #008a3c;
  }
  .verde.light { 
    background: #08ff73;
  }
  .negro { 
    background: #1C2833 
  }
  .negro.light { 
    background:  #34495E;
  }
  .amarillo { 
    background: #ffd900;
  }
  .amarillo.light { 
    background: #fbff05;
  }
  .naranja { 
    background: #b84900 
  }
  .naranja.light { 
    background: #f06204;
  }
  .gris { 
    background: #515A5A;
  }
  .gris.light { 
    background: #B2BABB;
  }
  .morado { 
    background: #690092;
  }
  .morado.light { 
    background: #b404ff;
  }
  .oro { 
    background:  #9C640C;
  }
  .oro.light { 
    background: #F39C12;
  }
  
  .btn-start { 
    background: none;
    width: 200px;
    max-width: 100%;
    border: none;
    padding-bottom: 7%;
    margin-top: 3%;
    outline: none;
  }

  .hide {
    visibility: hidden;
    outline: none;
  }
  

  *{
    font-family: "Comic Sans MS", cursive, sans-serif;
  }